Repository cakedgroup/gotcaked, pull requests merged in 2021-11, with the labels that each got.

#11 Feature/status
  backend/.gitignore
  backend/api.ts
  backend/controllers/auth.ts
  backend/controllers/category.ts
  backend/controllers/main.ts
  backend/controllers/recipe.ts
  backend/controllers/status.ts
  backend/controllers/tag.ts
  backend/controllers/user.ts
  backend/databases/echo.db
  backend/util/version.ts
  deployment/deploy.sh
  dockerfile
Labels: enhancement, backend

#12 Feature/openapi
  backend/api.ts
  backend/openapi.yaml
  backend/package-lock.json
  backend/package.json
Labels: documentation, backend

#18 Feature/db
  backend/.gitignore
  backend/api.ts
  backend/controllers/echo.ts
  backend/controllers/status.ts
  backend/controllers/tag.ts
  backend/databases/.gitkeep
  backend/models/category.ts
  backend/models/comment.ts
  backend/models/db.ts
  backend/models/echo.ts
  backend/models/recipe.ts
  backend/models/status.ts
  backend/models/tag.ts
  backend/models/user.ts
  backend/package-lock.json
  backend/package.json
  backend/services/echo.ts
  backend/services/status.ts
  backend/services/tag.ts
  backend/tests/newman/README.md
  backend/tests/newman/dev.postman_environment.json
  backend/tests/newman/gotCaked.postman_collection.json
  backend/tests/newman/local.postman_environment.json
  backend/tests/newman/run_test.sh
  backend/util/sql.ts
  backend/util/uuid.ts
Labels: backend

#19 Feature/user auth
  backend/api.ts
  backend/controllers/auth.ts
  backend/controllers/status.ts
  backend/controllers/user.ts
  backend/models/blacklist.ts
  backend/models/db.ts
  backend/models/user.ts
  backend/package-lock.json
  backend/package.json
  backend/services/auth.ts
  backend/services/user.ts
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/errorHandler.ts
  backend/util/jwtCheck.ts
  backend/util/secret.ts
  backend/util/transformer.ts
Labels: enhancement, backend

#20 Feature/user
  backend/controllers/user.ts
  backend/middelwares/jwtCheck.ts
  backend/models/user.ts
  backend/services/user.ts
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/errorHandler.ts
Labels: enhancement, backend

#21 Update v.0.0.1
  backend/.gitignore
  backend/api.ts
  backend/controllers/auth.ts
  backend/controllers/category.ts
  backend/controllers/echo.ts
  backend/controllers/main.ts
  backend/controllers/recipe.ts
  backend/controllers/status.ts
  backend/controllers/tag.ts
  backend/controllers/user.ts
  backend/databases/.gitkeep
  backend/databases/echo.db
  backend/middelwares/jwtCheck.ts
  backend/middelwares/logger.ts
  backend/models/blacklist.ts
  backend/models/category.ts
  backend/models/comment.ts
  backend/models/db.ts
  backend/models/echo.ts
  backend/models/recipe.ts
  backend/models/status.ts
  backend/models/tag.ts
  backend/models/user.ts
  backend/openapi.yaml
  backend/package-lock.json
  backend/package.json
  backend/services/auth.ts
  backend/services/echo.ts
  backend/services/status.ts
  backend/services/tag.ts
  backend/services/user.ts
  backend/tests/newman/README.md
  backend/tests/newman/dev.postman_environment.json
  backend/tests/newman/gotCaked.postman_collection.json
  backend/tests/newman/local.postman_environment.json
  backend/tests/newman/run_test.sh
  backend/util/errorHandler.ts
  backend/util/secret.ts
  backend/util/sql.ts
  backend/util/transformer.ts
  backend/util/uuid.ts
  backend/util/version.ts
  deployment/deploy.sh
  dockerfile
Labels: enhancement, backend

#22 Refactor/1.0
  backend/controllers/auth.ts
  backend/controllers/main.ts
  backend/controllers/status.ts
  backend/controllers/tag.ts
  backend/controllers/user.ts
  backend/middelwares/jwtCheck.ts
  backend/models/auth.ts
  backend/models/category.ts
  backend/models/comment.ts
  backend/models/recipe.ts
  backend/models/tag.ts
  backend/models/user.ts
  backend/services/auth.ts
  backend/services/status.ts
  backend/services/user.ts
  backend/storage/blacklist.ts
  backend/storage/category.ts
  backend/storage/comment.ts
  backend/storage/db.ts
  backend/storage/recipe.ts
  backend/storage/status.ts
  backend/storage/tag.ts
  backend/storage/user.ts
  backend/tests/newman/gotCaked.postman_collection.json
Labels: enhancement, backend

#25 Feature/auth admin
  backend/api.ts
  backend/middelwares/jwtCheck.ts
  backend/models/auth.ts
  backend/models/response.ts
  backend/models/user.ts
  backend/services/auth.ts
  backend/services/user.ts
  backend/storage/db.ts
  backend/storage/user.ts
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/errorHandler.ts
  backend/util/transformer.ts
Labels: enhancement, backend

#26 Feature/service
  backend/controllers/category.ts
  backend/controllers/main.ts
  backend/controllers/tag.ts
  backend/middelwares/jwtCheck.ts
  backend/models/category.ts
  backend/models/tag.ts
  backend/services/auth.ts
  backend/services/category.ts
  backend/services/tag.ts
  backend/services/user.ts
  backend/storage/category.ts
  backend/storage/db.ts
  backend/storage/tag.ts
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/errorHandler.ts
Labels: enhancement, backend

#30 Feature/recipe
  backend/controllers/category.ts
  backend/controllers/recipe.ts
  backend/controllers/tag.ts
  backend/middelwares/inputValidation.ts
  backend/middelwares/jwtCheck.ts
  backend/models/recipe.ts
  backend/services/recipe.ts
  backend/services/user.ts
  backend/storage/recipe.ts
  backend/storage/tag.ts
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/errorHandler.ts
  backend/util/transformer.ts
Labels: enhancement, backend

#31 Feature/frontend basic
  frontend/src/app/models/category.model.ts
  frontend/src/app/models/comment.model.ts
  frontend/src/app/models/ingredients.model.ts
  frontend/src/app/models/recipe.model.ts
  frontend/src/app/models/tag.model.ts
  frontend/src/app/models/user.model.ts
Labels: frontend

#35 Feature/comments
  backend/controllers/recipe.ts
  backend/middelwares/inputValidation.ts
  backend/middelwares/jwtCheck.ts
  backend/models/comment.ts
  backend/models/recipe.ts
  backend/services/comment.ts
  backend/services/recipe.ts
  backend/storage/comment.ts
  backend/storage/db.ts
  backend/storage/recipe.ts
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/errorHandler.ts
  backend/util/transformer.ts
Labels: enhancement, backend

#36 Feature/random
  backend/controllers/recipe.ts
  backend/controllers/user.ts
  backend/services/recipe.ts
  backend/services/user.ts
  backend/storage/recipe.ts
  backend/storage/user.ts
Labels: enhancement, backend
