Repository cakedgroup/gotcaked, pull requests merged in 2021-12, with the labels that each got.

#37 Feature/upload
  backend/.gitignore
  backend/api.ts
  backend/app.ts
  backend/controllers/recipe.ts
  backend/controllers/user.ts
  backend/files.ts
  backend/middelwares/inputValidation.ts
  backend/models/recipe.ts
  backend/package-lock.json
  backend/package.json
  backend/services/recipe.ts
  backend/services/user.ts
  backend/static/img/.gitkeep
  backend/storage/db.ts
  backend/storage/recipe.ts
  backend/tests/newman/data/russischer-zupfkuchen.jpg
  backend/tests/newman/gotCaked.postman_collection.json
  backend/tests/newman/russischer-zupfkuchen.jpg:Zone.Identifier
  backend/util/fileHandler.ts
  backend/util/transformer.ts
Labels: backend

#50 Feature/connect endpoints
  backend/controllers/category.ts
  backend/controllers/tag.ts
  backend/controllers/user.ts
  backend/services/category.ts
  backend/services/recipe.ts
  backend/services/tag.ts
  backend/storage/db.ts
  backend/storage/recipe.ts
  backend/tests/newman/gotCaked.postman_collection.json
Labels: enhancement, backend

#58 Implemented Basic Category
  frontend/src/app/core/header/header.component.css
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/pages/category/category-page/category-page.component.html
  frontend/src/app/pages/category/category-page/category-page.component.ts
  frontend/src/app/pages/category/category-routing.module.ts
  frontend/src/app/pages/category/category.module.ts
  frontend/src/app/pages/welcome/welcome-page/welcome-page.component.html
  frontend/src/app/shared/components/content-header/content-header.component.css
  frontend/src/app/shared/components/content-header/content-header.component.html
Labels: enhancement, frontend

#57 Feature/admin page
  backend/controllers/tag.ts
  backend/middelwares/inputValidation.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/utils/jwt-utils.ts
  frontend/src/app/models/user.model.ts
  frontend/src/app/pages/admin/admin-page/admin-page.component.css
  frontend/src/app/pages/admin/admin-page/admin-page.component.html
  frontend/src/app/pages/admin/admin-page/admin-page.component.ts
  frontend/src/app/pages/admin/admin.module.ts
  frontend/src/app/shared/components/form-create-field/form-create-field.component.css
  frontend/src/app/shared/components/form-create-field/form-create-field.component.html
  frontend/src/app/shared/components/form-create-field/form-create-field.component.ts
  frontend/src/app/shared/shared.module.ts
  frontend/src/styles.css
Labels: enhancement, frontend

#59 Feature/recipe preview
  backend/models/recipe.ts
  backend/services/category.ts
  backend/services/recipe.ts
  backend/services/tag.ts
  backend/storage/recipe.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/models/recipe.model.ts
  frontend/src/app/pages/welcome/welcome-page/welcome-page.component.css
  frontend/src/app/pages/welcome/welcome-page/welcome-page.component.html
  frontend/src/app/pages/welcome/welcome-page/welcome-page.component.ts
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.css
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.html
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Labels: enhancement, frontend

#62 Feature/tags
  backend/services/recipe.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/pages/tag/tag-page/tag-page.component.css
  frontend/src/app/pages/tag/tag-page/tag-page.component.html
  frontend/src/app/pages/tag/tag-page/tag-page.component.ts
  frontend/src/app/pages/tag/tag-routing.module.ts
  frontend/src/app/pages/tag/tag.module.ts
Labels: enhancement, frontend

#63 Feature/recipe upload
  backend/tests/newman/gotCaked.postman_collection.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/header/menu/menu.component.css
  frontend/src/app/core/header/menu/menu.component.html
  frontend/src/app/core/header/menu/menu.component.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/models/recipe.model.ts
  frontend/src/app/pages/admin/admin-page/admin-page.component.css
  frontend/src/app/pages/admin/admin-page/admin-page.component.html
  frontend/src/app/pages/admin/admin-page/admin-page.component.ts
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.component.css
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.component.html
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.component.ts
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.module.ts
  frontend/src/app/pages/recipe/recipe-routing.module.ts
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.component.css
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.component.html
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.component.ts
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.module.ts
  frontend/src/app/pages/user/user-routing.module.ts
  frontend/src/app/pages/user/user.component.ts
  frontend/src/app/shared/components/category-selector/category-selector.component.css
  frontend/src/app/shared/components/category-selector/category-selector.component.html
  frontend/src/app/shared/components/category-selector/category-selector.component.ts
  frontend/src/app/shared/components/error-message/error-message.component.css
  frontend/src/app/shared/components/error-message/error-message.component.html
  frontend/src/app/shared/components/error-message/error-message.component.ts
  frontend/src/app/shared/components/ingredients-table-input/ingredients-table-input.component.css
  frontend/src/app/shared/components/ingredients-table-input/ingredients-table-input.component.html
  frontend/src/app/shared/components/ingredients-table-input/ingredients-table-input.component.ts
  frontend/src/app/shared/components/picture-uploader/picture-uploader.component.css
  frontend/src/app/shared/components/picture-uploader/picture-uploader.component.html
  frontend/src/app/shared/components/picture-uploader/picture-uploader.component.ts
  frontend/src/app/shared/components/recipe-information/recipe-information.component.css
  frontend/src/app/shared/components/recipe-information/recipe-information.component.html
  frontend/src/app/shared/components/recipe-information/recipe-information.component.ts
  frontend/src/app/shared/components/success-message/success-message.component.css
  frontend/src/app/shared/components/success-message/success-message.component.html
  frontend/src/app/shared/components/success-message/success-message.component.ts
  frontend/src/app/shared/components/tag-list/tag-list.component.css
  frontend/src/app/shared/components/tag-list/tag-list.component.html
  frontend/src/app/shared/components/tag-list/tag-list.component.ts
  frontend/src/app/shared/components/tag-search/tag-search.component.css
  frontend/src/app/shared/components/tag-search/tag-search.component.html
  frontend/src/app/shared/components/tag-search/tag-search.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: enhancement, frontend

#65 Feature/user like list
  frontend/src/app/core/header/menu/menu.component.html
  frontend/src/app/core/header/menu/menu.component.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/core/services/authGuard.ts
  frontend/src/app/pages/user/user-liked-page/user-liked-page.component.css
  frontend/src/app/pages/user/user-liked-page/user-liked-page.component.html
  frontend/src/app/pages/user/user-liked-page/user-liked-page.component.ts
  frontend/src/app/pages/user/user-profile-page/user-profile-page.component.css
  frontend/src/app/pages/user/user-profile-page/user-profile-page.component.html
  frontend/src/app/pages/user/user-profile-page/user-profile-page.component.ts
  frontend/src/app/pages/user/user-routing.module.ts
  frontend/src/app/pages/user/user.component.html
  frontend/src/app/pages/user/user.component.ts
  frontend/src/app/pages/user/user.module.ts
Labels: enhancement, frontend

#66 Frontend/cleanup
  frontend/src/app/core/footer/footer.component.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/pages/about/about-page/about-page.component.ts
  frontend/src/app/pages/admin/admin-page/admin-page.component.html
  frontend/src/app/pages/admin/admin-page/admin-page.component.ts
  frontend/src/app/pages/auth/auth.module.ts
  frontend/src/app/pages/auth/login-page/login-page.component.html
  frontend/src/app/pages/auth/login-page/login-page.component.ts
  frontend/src/app/pages/auth/logout-page/logout-page.component.ts
  frontend/src/app/pages/page-not-found/page-not-found.component.ts
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.component.ts
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.component.ts
  frontend/src/app/pages/register/register-page/register-page.component.html
  frontend/src/app/pages/register/register-page/register-page.component.ts
  frontend/src/app/pages/register/register.module.ts
  frontend/src/app/pages/welcome/welcome-page/welcome-page.component.ts
  frontend/src/app/shared/components/content-header/content-header.component.ts
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.ts
  frontend/src/styles.css
Labels: enhancement, frontend

#67 Feature/recipe page
  backend/storage/db.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/core/services/authGuard.ts
  frontend/src/app/models/comment.model.ts
  frontend/src/app/models/recipe.model.ts
  frontend/src/app/pages/category/category-page/category-page.component.css
  frontend/src/app/pages/category/category-page/category-page.component.html
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.css
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.html
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.ts
  frontend/src/app/pages/recipe/recipe-routing.module.ts
  frontend/src/app/pages/recipe/recipe.module.ts
  frontend/src/app/pages/user/user-liked-page/user-liked-page.component.ts
  frontend/src/app/shared/components/ingredients-table-output/ingredients-table-output.component.css
  frontend/src/app/shared/components/ingredients-table-output/ingredients-table-output.component.html
  frontend/src/app/shared/components/ingredients-table-output/ingredients-table-output.component.ts
  frontend/src/app/shared/components/recipe-comment-input/recipe-comment-input.component.css
  frontend/src/app/shared/components/recipe-comment-input/recipe-comment-input.component.html
  frontend/src/app/shared/components/recipe-comment-input/recipe-comment-input.component.ts
  frontend/src/app/shared/components/recipe-comments/recipe-comments.component.css
  frontend/src/app/shared/components/recipe-comments/recipe-comments.component.html
  frontend/src/app/shared/components/recipe-comments/recipe-comments.component.ts
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.css
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.html
  frontend/src/app/shared/shared.module.ts
  frontend/src/assets/icons/recipe_picture_placeholder.svg
  frontend/src/environments/environment.prod.ts
Labels: enhancement, frontend

#71 Feature/user page
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/pages/user/user-profile-page/user-profile-header/user-profile-header.component.css
  frontend/src/app/pages/user/user-profile-page/user-profile-header/user-profile-header.component.html
  frontend/src/app/pages/user/user-profile-page/user-profile-header/user-profile-header.component.ts
  frontend/src/app/pages/user/user-profile-page/user-profile-page.component.css
  frontend/src/app/pages/user/user-profile-page/user-profile-page.component.html
  frontend/src/app/pages/user/user-profile-page/user-profile-page.component.ts
  frontend/src/app/pages/user/user.module.ts
Labels: enhancement, frontend

#72 Feature/settings
  backend/.gitignore
  backend/services/user.ts
  backend/static/img/users/710a48be-8074-42a4-a233-7886f5ff3044.png
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.html
  frontend/src/app/pages/settings/settings.component.css
  frontend/src/app/pages/settings/settings.component.html
  frontend/src/app/pages/settings/settings.component.ts
  frontend/src/app/pages/settings/settings.module.ts
  frontend/src/app/shared/components/form-input/form-input.component.css
  frontend/src/app/shared/components/form-input/form-input.component.html
  frontend/src/app/shared/components/form-input/form-input.component.ts
  frontend/src/app/shared/components/user-picture-uploader/user-picture-uploader.component.css
  frontend/src/app/shared/components/user-picture-uploader/user-picture-uploader.component.html
  frontend/src/app/shared/components/user-picture-uploader/user-picture-uploader.component.ts
  frontend/src/app/shared/shared.module.ts
Labels: enhancement, frontend

#73 Feature/better validation
  backend/.gitignore
  backend/controllers/auth.ts
  backend/controllers/category.ts
  backend/controllers/main.ts
  backend/controllers/recipe.ts
  backend/controllers/status.ts
  backend/controllers/tag.ts
  backend/controllers/user.ts
  backend/middelwares/inputValidation.ts
  backend/package-lock.json
  backend/package.json
  backend/static/img/recipes/.gitkeep
  backend/static/img/users/.gitkeep
  backend/tests/newman/gotCaked.postman_collection.json
  backend/util/transformer.ts
Labels: enhancement, backend

#74 Feature/dice
  backend/controllers/recipe.ts
  backend/services/recipe.ts
  backend/storage/recipe.ts
  backend/storage/tag.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/header/header.component.css
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/pages/random/random-page/random-page.component.css
  frontend/src/app/pages/random/random-page/random-page.component.html
  frontend/src/app/pages/random/random-page/random-page.component.ts
  frontend/src/app/pages/random/random-routing.module.ts
  frontend/src/app/pages/random/random.module.ts
  frontend/src/app/pages/user/user-profile-page/user-profile-header/user-profile-header.component.css
  frontend/src/app/pages/user/user-profile-page/user-profile-header/user-profile-header.component.html
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.ts
  frontend/src/assets/icons/dice_icon.svg
  frontend/src/assets/icons/search_icon.svg
Labels: enhancement, frontend

#75 Feature/openapi
  backend/openapi.yaml
  backend/util/errorHandler.ts
Labels: documentation, backend

#76 feature/status
  backend/services/status.ts
  frontend/src/app/core/services/api.service.ts
  frontend/src/app/models/recipe.model.ts
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.css
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.html
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.ts
Labels: enhancement, backend

#78 Backend/cleanup
  backend/controllers/category.ts
  backend/middelwares/inputValidation.ts
  backend/middelwares/jwtCheck.ts
  backend/middelwares/logger.ts
  backend/models/recipe.ts
  backend/openapi.yaml
  backend/package.json
  backend/services/auth.ts
  backend/services/category.ts
  backend/services/comment.ts
  backend/services/recipe.ts
  backend/services/status.ts
  backend/services/tag.ts
  backend/services/user.ts
  backend/storage/blacklist.ts
  backend/storage/category.ts
  backend/storage/comment.ts
  backend/storage/db.ts
  backend/storage/recipe.ts
  backend/storage/status.ts
  backend/storage/tag.ts
  backend/storage/user.ts
  backend/tests/newman/gotCaked.postman_collection.json
  frontend/src/app/models/recipe.model.ts
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.component.ts
  frontend/src/app/pages/recipe/recipe-page/recipe-page.component.html
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.component.ts
  frontend/src/app/shared/components/recipe-information/recipe-information.component.html
Labels: enhancement, backend

#89 Updated readme
  README.md
  frontend/README.md
Labels: documentation

#90 Release 1.0.0
  README.md
  backend/middelwares/inputValidation.ts
  frontend/README.md
  frontend/angular.json
  frontend/src/app/core/header/header.component.css
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/header/menu/menu.component.css
  frontend/src/app/core/utils/errorHandler.ts
  frontend/src/app/pages/about/about-page/about-page.component.css
  frontend/src/app/pages/about/about-page/about-page.component.html
  frontend/src/app/pages/recipe/recipe-edit/recipe-edit.component.ts
  frontend/src/app/pages/recipe/recipe-upload/recipe-upload.component.ts
  frontend/src/app/pages/settings/settings.component.html
  frontend/src/app/pages/settings/settings.component.ts
  frontend/src/app/shared/components/ingredients-table-output/ingredients-table-output.component.css
  frontend/src/app/shared/components/ingredients-table-output/ingredients-table-output.component.html
  frontend/src/app/shared/components/recipe-preview/recipe-preview.component.css
  frontend/src/app/shared/components/tag-search/tag-search.component.html
Labels: enhancement, frontend, backend
